body {
  margin: 0 !important;
  padding: 0 !important	;
  font-family:  'Roboto',sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body > #root > div {
  height: 100vh;
  width: 100% !important;
  flex-grow: 1 !important;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
